<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="TheBitCrusher.net tech blog">
    <meta name="author" content="Tom Johnson">
    <title>TheBitCrusher<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <link href="http://fonts.googleapis.com/css?family=Oxygen:400,300,700" rel="stylesheet">
    <%= stylesheet_link_tag "all" %>
  </head>
  <body>
    <div class="container">
      <%= partial "partials/nav" %>

      <div class="row">
        <div class="col-md-8">
          <%= yield %>
        </div>
        <div class="col-md-4">
          -- SIDEBAR --
        </div>
      </div>

      <%= partial "partials/footer" %>
    </div> <!-- /container -->

    <%= javascript_include_tag "all" %>
  </body>
</html>
