---
pageable: true
per_page: 5
layout: blog
---

<% page_articles.each_with_index do |article, i| %>
  <article>
      <h3><%= link_to article.title, article %></h3>

      <div class="row">
        <div class="group1 col-sm-6 col-md-6">
          <% article.tags.each_with_index do |tag, i| %>
          <% if tag == "news" %>
            <span class="glyphicon glyphicon-book"></span>
          <% end %>
            <%= link_to tag.capitalize, "#" %><% if (i + 1) < article.tags.size %>,<% end %>
          <% end %>
        </div>
        <div class="group2 col-sm-6 col-md-6">
          <div class="pull-right">
            <span class="glyphicon glyphicon-time"></span> <%= article.date.strftime('%b %e') %>
          </div>
        </div>
      </div>
      <hr>

      <img src="http://placehold.it/900x300" class="img-responsive">
      <br />

      <%= article.summary %>

      <p class="text-right">
        <%= link_to "Read more...", article, :class => "text-right" %>
      </p>

      <hr>
  </article>
<% end %>

<% if paginate && num_pages > 1 %>
  <ul class="pager">
    Page <%= page_number %> of <%= num_pages %>

    <% if prev_page %>
      <li class="previous">
        <%= link_to 'Previous page', prev_page %>
      </li>
    <% end %>
    <% if paginate %>
      <% if next_page %>
        <li class="next">
          <%= link_to 'Next page', next_page %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
